@charset "UTF-8";
@import url(menu.css);

/*configurando o backegraud em geral*/
.backegraud{ 
    inset: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1; /* Colocar o video no eixo z para trâs, permitindo que outros elementos venha a frente */
}

/* configurando o video */
.backegraud video{
    width: 100%;
    height: 100vh;
    object-fit: cover;  /* ultilizado para o ajuste do video  */
    
}

/* criando um pseudo elemento para sombrear o backegraud*/
.backegraud::after {
    content: " ";
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background-image: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

